# Local Docker Compose Environment Variables
DB_USER_LOCAL=localuser
DB_PASSWORD_LOCAL=localpass
DB_NAME_LOCAL=gamedb_local
# DB_HOST_LOCAL will be 'db' (service name in docker-compose)
# DB_PORT_LOCAL will be '5432'